<section class="second-catalog-section">
    <div class="container">
        <div class="second-catalog">
            <div class="menu">
                <div class="menu-item menu-item-active" data-attribute="tile">плитка</div>
                <div class="menu-item" data-attribute="laminate">ламінат</div>
                <div class="menu-item" data-attribute="plumbing">сантехніка</div>
                <div class="menu-item" data-attribute="wallpaper">шпалери</div>
            </div>
            <div class="info">
                <div class="info-item-wrap info-item-wrap-active" id="tile">
                    <div class="info-item tile">
                        <div class="info-item-text">
                            <div class="info-item-title">Плитка для ванної</div>
                            <div class="info-item-descr">висока якість
                                <br>широкий асортимент
                            </div>
                        </div>
                        <button class="info-item-btn"><a href="javascript:void(0)" alt="">переглянути пропозиції</a></button>
                        <a href="javascript:void(0)" class="info-item-btn-active"><div>Плитка для ванної</div><div>вигідна ціна</div></a>
                    </div>
                </div>
                <div class="info-item-wrap" id="laminate">
                    <div class="info-item laminate">
                        <div class="info-item-text">
                            <div class="info-item-title">Ламінат</div>
                            <div class="info-item-descr">висока якість
                                <br>широкий асортимент
                            </div>
                        </div>
                        <button class="info-item-btn"><a href="javascript:void(0)" alt="">переглянути пропозиції</a></button>
                        <a href="javascript:void(0)" class="info-item-btn-active"><div>Ламінат</div><div>вигідна ціна</div></a>
                    </div>
                </div>
                <div class="info-item-wrap" id="plumbing">
                    <div class="info-item plumbing">
                        <div class="info-item-text">
                            <div class="info-item-title">Сантехніка</div>
                            <div class="info-item-descr">висока якість
                                <br>широкий асортимент
                            </div>
                        </div>
                        <button class="info-item-btn"><a href="javascript:void(0)" alt="">переглянути пропозиції</a></button>
                        <a href="javascript:void(0)" class="info-item-btn-active"><div>Сантехніка</div><div>вигідна ціна</div></a>
                    </div>
                </div>
                <div class="info-item-wrap" id="wallpaper">
                    <div class="info-item wallpaper">
                        <div class="info-item-text">
                            <div class="info-item-title">Шпалери</div>
                            <div class="info-item-descr">висока якість
                                <br>широкий асортимент
                            </div>
                        </div>
                        <button class="info-item-btn"><a href="javascript:void(0)" alt="">переглянути пропозиції</a></button>
                        <a href="javascript:void(0)" class="info-item-btn-active"><div>Шпалери</div><div>вигідна ціна</div></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>