.second-catalog{
  margin-top: 37px;
  font-size: 0;
  .second-catalog-slider{
    text-align: center;
    position: relative;
  }
  .catalog-slider-item {
   font-size: 0;
    width: 293.3333333333333px;
    display: inline-block;
    vertical-align: top;
    .menu-item {
      height: 35px;
      border-top: 2px solid #a7a7a7;
      border-bottom: 3px solid $green;
      padding-left: 10px;
      font-size: 10px;
      line-height: 35px;
      color: #a7a7a7;
      text-align: center;
      box-sizing: border-box;
      text-transform: capitalize;
      @include media($width-sm) {
        padding-left: 15px;
        font-size: 16px;
        line-height: 50px;
        height: 50px;
      }
      @include media($width-mid) {
        padding-left: 19px;
        font-size: 23.52px;
        height: 70px;
        line-height: 70px;
      }
    }
  }
  .info-item-wrap{
    padding-left: 12px;
    box-sizing: border-box;
    @include media($width-sm){
      padding-left: 17px;
    }
    @include media($width-mid){
      padding-left: 25px;
    }
  }

  .info-item{
    position: relative;
    height: 250px;
    background: white center no-repeat content-box;
    background-size: auto 250px;
    @include media($width-sm){
        height: 300px;
        background-size: auto 300px;
      }
    @include media($width-mid){
      height: 494px;
      background-size: auto 494px;
    }
    .info-item-text {
      position: absolute;
      left: 5%;
      top: 35px;
      color: white;
      @include media($width-sm){
        left: 17px;
      }
      @include media($width-mid){
        left: 26px;
      }
      .info-item-title {
font-weight: 500;
        font-size: 17px;
        line-height: 18px;
        @include media($width-sm){
          font-size: 25px;
          line-height: 26px;
        }
        @include media($width-mid){
          font-size: 35px;
          line-height: 37px;
        }
      }
      .info-item-descr{
        font-size: 12px;
        @include media($width-sm){
          font-size: 14px;
        }
        @include media($width-mid){
          font-size: 18px;
        }
      }
    }
    .info-item-btn{
      cursor: initial;
      left: 0;
      height: 68px;
      width: 100%;
      position: absolute;
      background-color: $green;
      color: white;
      bottom: 30px;
      font-size: 14px;
      @include media($width-sm){
        bottom: 50px;
        font-size: 14px;
      }
      @include media($width-mid){
        bottom: 86px;
        font-size: 18.62px;
      }
      a{
        border-bottom: 1px solid white;
        cursor: pointer;
      }
    }
  }
  .catalog-slider-item-active {
    width: 400px;
    .menu-item{
      padding-left: 0;
      background-color: $green;
      font-size: 14px;
      color: white;
      text-transform: uppercase;
      border: none;
      @include media($width-sm) {
        font-size: 20px;
      }
      @include media($width-mid) {
        font-size: 28.53px;
      }
    }
    .info-item-btn-active {
      position: absolute;
      left: 15px;
      bottom: 15px;
      display: none;
      @include media($width-mid){
        bottom: 27px;
        left: 27px;
      }
    }
    .info-item-wrap{
      padding-left: 0;
      .info-item-text{
        display: none;
      }
      .info-item-btn{
        display: none;
      }
      .info-item-btn-active{
        display: block;
        div:first-child{
          width: 75%;
          font-weight: 700;
          font-size: 25px;
          color: white;
          line-height: 20px;
          margin-bottom: 6px;
          @include media($width-mid){
            font-size: 49px;
            line-height: 40px;
          }
        }
        div:last-child{
          font-size: 20px;
          color: $green;
          @include media($width-mid){
            font-size: 37.24px;
          }
        }
      }
    }
  }
  .tile{
  background-image: url("img/tile.png");
  }
  .laminate{
    background-image: url("img/laminate.png");
  }
  .plumbing{
    background-image: url("img/plumbing.png");
  }
  .wallpaper{
    background-image: url("img/wallpaper.png");
  }
}
.second-catalog-slick-next{
  //display: none;
position: absolute;
  width: 100px;
  height: 100px;
  background-color: black;
  left: 0;
  top: 0;
}