<section class="main-menu-section">
    <div class="container">
    <ul class="main-menu">
        <li class="main-menu-item"><div class="menu-icon">
            <div class="white-line"></div>
            <div class="white-line"></div>
            <div class="white-line"></div>
        </div>каталог</li>
        <li class="main-menu-item">будівельні матеріали</li>
        <li class="main-menu-item">напольне покритя</li>
        <li class="main-menu-item">сантехніка</li>
        <li class="main-menu-item">електротовари</li>
        <li class="main-menu-item">шпалери</li>
    </ul>
    </div>
</section>