
<div class="main-menu-section">
    <div class="container">
    <ul class="main-menu">
        <li class="main-menu-item" id="dropdown-catalog-toggle"><div class="menu-icon">
            <div class="white-line"></div>
            <div class="white-line"></div>
            <div class="white-line"></div>
        </div><a href="javascript:void(0)">каталогa</a></li>
        <li class="main-menu-item"><a href="javascript:void(0)">будівельні матеріалиa</a></li>
        <li class="main-menu-item"><a href="javascript:void(0)">напольне покритяa</a></li>
        <li class="main-menu-item"><a href="javascript:void(0)">сантехнікаa</a></li>
        <li class="main-menu-item"><a href="javascript:void(0)">електротовариa</a></li>
        <li class="main-menu-item"><a href="javascript:void(0)">шпалериa</a></li>
    </ul>
    </div>
</div>