<div class="dropdown-catalog" id="dropdown-catalog">
    <div class="dropdown-catalog-wrap">
    <div class="dropdown-connector"></div>
    <div class="dropdown-menu-wrap">
        <ul class="dropdown-menu" id="dropdown-menu">
            <li class="dropdown-menu-item"><a href="javascript:void(0)" data-attribute= "appliances">Побутова техніка</a></li>
            <li class="dropdown-menu-item"><a href="javascript:void(0)">Будматеріали</a></li>
            <li class="dropdown-menu-item"><a href="javascript:void(0)">Оздоблювані матеріали</a></li>
            <li class="dropdown-menu-item"><a href="javascript:void(0)">Інструменти</a></li>
            <li class="dropdown-menu-item"><a href="javascript:void(0)">Підлога</a></li>
            <li class="dropdown-menu-item"><a href="javascript:void(0)">Плитка</a></li>
            <li class="dropdown-menu-item"><a href="javascript:void(0)">Електротовари</a></li>
            <li class="dropdown-menu-item"><a href="javascript:void(0)">Сантехніка</a></li>
            <li class="dropdown-menu-item"><a href="javascript:void(0)">Двері</a></li>
            <li class="dropdown-menu-item"><a href="javascript:void(0)">Мебелі</a></li>
            <li class="dropdown-menu-item"><a href="javascript:void(0)">Сад</a></li>
            <li class="dropdown-menu-item"><a href="javascript:void(0)">Господтовари</a></li>
            <li class="dropdown-menu-item"><a href="javascript:void(0)">Зоотовари</a></li>
            <li class="dropdown-menu-item"><a href="javascript:void(0)">Автотовари</a></li>
        </ul>
    </div>
    <div class="dropdown-inner-menu" id="appliances">
        <ul class="inner-menu">
            <li class="inner-menu-item"><a href="javascript:void(0)">Вбудована техніка</a>
                <ul class="inner-submenu">
                    <li class="submenu-item"><a href="javascript:void(0)">                Духові шафи</a></li>
                    <li class="submenu-item"><a href="javascript:void(0)">                Варильні поверхні газові</a></li>
                    <li class="submenu-item"><a href="javascript:void(0)">                Варильні поверхні електричні</a></li>
                    <li class="submenu-item"><a href="javascript:void(0)">                Витяжки кухонні</a></li>
                    <li class="submenu-item"><a href="javascript:void(0)">                Аксесуари для витяжок</a></li>
                </ul>
            </li>
            <li class="inner-menu-item"><a href="javascript:void()0">Зображення та звук</a>
                <ul class="inner-submenu">
                    <li class="submenu-item"><a href="javascript:void(0)">Телевізори</a></li>
                    <li class="submenu-item"><a href="javascript:void(0)">Аксесуари</a></li>
                </ul>
            </li>
            <li class="inner-menu-item"><a href="javascript:void()0">Велика побутова техніка</a>
                <ul class="inner-submenu">
                    <li class="submenu-item"><a href="javascript:void(0)">Холодильники</a></li>
                    <li class="submenu-item"><a href="javascript:void(0)">Морозильні камери</a></li>
                    <li class="submenu-item"><a href="javascript:void(0)">Пральні машини</a></li>
                    <li class="submenu-item"><a href="javascript:void(0)">Плити газові</a></li>
                    <li class="submenu-item"><a href="javascript:void(0)">Плити електричні</a></li>
                    <li class="submenu-item"><a href="javascript:void(0)">Посудомийні машини</a></li>
                </ul>
            </li>
            <li class="inner-menu-item"><a href="javascript:void()0">Техніка для дому</a>
                <ul class="inner-submenu">
                    <li class="submenu-item"><a href="javascript:void(0)">Пилосмоки</a></li>
                    <li class="submenu-item"><a href="javascript:void(0)">Праски</a></li>
                    <li class="submenu-item"><a href="javascript:void(0)">Пароочисники</a></li>
                    <li class="submenu-item"><a href="javascript:void(0)">Сушка для взуття</a></li>
                    <li class="submenu-item"><a href="javascript:void(0)">Аксесуари для пилосмоків</a></li>
                </ul>
            </li>
            <li class="inner-menu-item"><a href="javascript:void()0">Техніка для кухні</a>
                <ul class="inner-submenu">
                    <li class="submenu-item"><a href="javascript:void(0)">Мультиварки</a></li>
                    <li class="submenu-item"><a href="javascript:void(0)">Хлібопічки</a></li>
                    <li class="submenu-item"><a href="javascript:void(0)">Блендери</a></li>
                    <li class="submenu-item"><a href="javascript:void(0)">Міксери</a></li>
                    <li class="submenu-item"><a href="javascript:void(0)">М'ясорубка</a></li>
                    <li class="submenu-item-more"><a href="javascript:void(0)">ще</a></li>
                </ul>
            </li>
            <li class="inner-menu-item"><a href="javascript:void()0">Кліматична техніка</a>
                <ul class="inner-submenu">
                    <li class="submenu-item"><a href="javascript:void(0)">Вентилятори</a></li>
                    <li class="submenu-item"><a href="javascript:void(0)">Кондиціонери</a></li>
                    <li class="submenu-item"><a href="javascript:void(0)">Зволожувачі повітря</a></li>
                    <li class="submenu-item"><a href="javascript:void(0)">Обігрівачі</a></li>
                    <li class="submenu-item"><a href="javascript:void(0)">Електрокаміни</a></li>
                    <li class="submenu-item-more"><a href="javascript:void(0)">ще</a></li>
                </ul>
            </li>
            <li class="inner-menu-item"><a href="javascript:void()0">Телекомунікації</a>
                <ul class="inner-submenu">
                    <li class="submenu-item"><a href="javascript:void(0)">Смартфони</a></li>
                    <li class="submenu-item"><a href="javascript:void(0)">Мобільні телефони</a></li>
                    <li class="submenu-item"><a href="javascript:void(0)">Чохли</a></li>
                    <li class="submenu-item"><a href="javascript:void(0)">Захисні плівки і скло</a></li>
                    <li class="submenu-item"><a href="javascript:void(0)">Зарядні пристрої</a></li>
                    <li class="submenu-item"><a href="javascript:void(0)">Фітнес-браслети</a></li>
                </ul>
            </li>
            <li class="inner-menu-item"><a href="javascript:void()0">Комп'ютери та периферія</a>
                <ul class="inner-submenu">
                    <li class="submenu-item"><a href="javascript:void(0)">Планшети</a></li>
                    <li class="submenu-item"><a href="javascript:void(0)">Ноутбуки</a></li>
                    <li class="submenu-item"><a href="javascript:void(0)">Роутери</a></li>
                    <li class="submenu-item"><a href="javascript:void(0)">USB флешки</a></li>
                    <li class="submenu-item"><a href="javascript:void(0)">Карти пам'яті</a></li>
                    <li class="submenu-item-more"><a href="javascript:void(0)">ще</a></li>
                </ul>
            </li>
            <li class="inner-menu-item"><a href="javascript:void()0">Краса та здоров'я</a>
                <ul class="inner-submenu">
                    <li class="submenu-item"><a href="javascript:void(0)">Електробритви</a></li>
                    <li class="submenu-item"><a href="javascript:void(0)">Епілятори</a></li>
                    <li class="submenu-item"><a href="javascript:void(0)">Машинки для підстригання</a></li>
                    <li class="submenu-item"><a href="javascript:void(0)">Тримери</a></li>
                    <li class="submenu-item"><a href="javascript:void(0)">Фени</a></li>
                    <li class="submenu-item"><a href="javascript:void(0)">Прилади для укладання вол</a></li>
                    <li class="submenu-item"><a href="javascript:void(0)">Манікюрні набори</a></li>
                    <li class="submenu-item"><a href="javascript:void(0)">Ваги підлогові</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
</div>