<section class="bottom-slider-section">
    <div class="container">
    <div class="bottom-slider">
        <a href="javascript:void(0)" class="bottom-slider-item bottom-slider-item1"><span class="bottom-slider-text">стиль твого <br> будинку</span></a>
        <a href="javascript:void(0)" class="bottom-slider-item bottom-slider-item2"><span class="bottom-slider-text">стиль твого <br> будинку</span></a>
        <a href="javascript:void(0)" class="bottom-slider-item bottom-slider-item3"><span class="bottom-slider-text">стиль твого <br> будинку</span></a>
    </div>
    </div>
</section>