.bottom-slider-section{
  margin-bottom: 83px;
}
.bottom-slider{
  position: relative;
  overflow: hidden;
  .bottom-slider-item{
    cursor: pointer;
    display: block;
    width: 100%;
    height: 156px;
    position: relative;
    .bottom-slider-text{
      font-size: 3.75vw;
      text-transform: uppercase;
      text-align: right;
      color: white;
      font-weight: 700;
      position: absolute;
      right: 21.09375%;
      top: 40px;
      @include media($width-max){
        font-size: 48.02px;
      }
    }
  }
  .bottom-slider-item1{
    background: right no-repeat url("img/bottomsliderpic.png");
  }
  .bottom-slider-item2{
    background: right no-repeat url("img/bottomsliderpic.png");
  }
  .bottom-slider-item3{
    background: right no-repeat url("img/bottomsliderpic.png");
  }
  .bottom-slider-prev, .bottom-slider-next{
    position: absolute;
    top: 79px;
    width: 33px;
    height: 33px;
    border: 1px solid white;
    transform: rotate(-45deg);
    z-index: 1;
  }
  .bottom-slider-next{
    right: -17px;
    &:after{
      content: '';
      position: absolute;
      left: 4px;
      top: 5px;
      width: 7px;
      height: 7px;
      border-top: 1px solid white;
      border-right: 1px solid white;
      transform: rotate(90deg);
    }
  }
  .bottom-slider-prev{
    left: -17px;
    &:after{
      content: '';
      position: absolute;
      right: 7px;
      top: 20px;
      width: 7px;
      height: 7px;
      border-top: 1px solid white;
      border-right: 1px solid white;
      transform: rotate(270deg);
    }
  }
}