<div class="blog">
    <div class="container">
        <div class="blog-title">Блог</div>
        <div class="blog-grig">
            <div class="blog-item blog-item1">
                <div class="blog_item_wrap">
                    <div class="blog-item-title">Як вибрати дриль</div>
                    <div class="blog-item-text"> Дриль - це інструмент, який господар купує в першу чергу, адже без
                        нього
                        зробити навіть незначний ремонт практично неможливо. Навіть якщо ви вирішите...
                    </div>
                </div>
                <a href="javascript:void(0)" class="blog-item-btn">детальніше</a>
            </div>
            <div class="blog-item blog-item2">
                <div class="blog_item_wrap">
                    <div class="blog-item-title">Як мити ламінат</div>
                    <div class="blog-item-text">Ламінат - відмінне покриття для підлоги, яке користується
                        величезною....
                    </div>
                </div>
                <a href="javascript:void(0)" class="blog-item-btn">детальніше</a>
            </div>
            <div class="blog-item blog-item3">
                <div class="blog_item_wrap">
                    <div class="blog-item-title">Скільки сохне грунтовка
                    </div>
                    <div class="blog-item-text">Перед поклейкою шпалер, фарбуванням або нанесенням штукатурки та
                        інших
                        матеріалів на будь-які поверхні їх рекомендується обробити ґрунтовкою....
                    </div>
                </div>
                <a href="javascript:void(0)" class="blog-item-btn">детальніше</a>
            </div>
            <div class="blog-item blog-item4">
                <div class="blog_item_wrap">
                    <div class="blog-item-title">Профнастил для воріт і огорожі
                    </div>
                    <div class="blog-item-text">Перед поклейкою шпалер, фарбуванням або нанесенням штукатурки та
                        інших
                        матеріалів на будь-які ....
                    </div>
                </div>
                <a href="javascript:void(0)" class="blog-item-btn">детальніше</a>
            </div>
            <div class="blog-item blog-item5">
                <div class="blog_item_wrap">
                    <div class="blog-item-title">Як зберігати цемент</div>
                    <div class="blog-item-text">Купуючи будівельні матеріали, не завжди вдається точно
                        розрахувати їх
                        кількість...


                    </div>
                </div>
                <a href="javascript:void(0)" class="blog-item-btn">детальніше</a>
            </div>
            <div class="blog-item blog-item6">
                <div class="blog_item_wrap">
                    <div class="blog-item-title">Гіпсова плитка в форматі 3D</div>
                    <div class="blog-item-text">Термін придатності цієї плитки необмежений, тому потрібно
                        ретельно
                        визначитися з фактурою гіпсової плитки....
                    </div>
                </div>
                <a href="javascript:void(0)" class="blog-item-btn">детальніше</a>
            </div>
        </div>
    </div>
</div>