<div class="nl-cities">
    <div class="selected-city" id ='selected-city'>
        <div class="city">Київ</div>
        <div class="address">Буча, вул. Нове Шосе 48
        </div>
    </div>
    <div class="cities-dropdown" id = 'cities-dropdown'>
        <div class="cities-dropdown-item">
            <div class="city">Київ
            </div>
            <div class="address">вул. Оноре де Бальзака, 65/1</div>
        </div>
        <div class="cities-dropdown-item">
            <div class="city">Київ
            </div>
            <div class="address">Чабани,
                вул. Одеське шосе, 8</div>
        </div>
        <div class="cities-dropdown-item">
            <div class="city">Бориспіль
            </div>
            <div class="address">вул. Горбатюка, 2</div>
        </div>
        <div class="cities-dropdown-item cities-dropdown-item-active">
            <div class="city">Буча
            </div>
            <div class="address">вул. Нове Шосе 48</div>
        </div>
        <div class="cities-dropdown-item">
            <div class="city">Львів
                </div>
            <div class="address">вул. Щирецька, 7</div>
        </div>
        <div class="cities-dropdown-item">
            <div class="city">Луцьк
                </div>
            <div class="address">вул. Шевченка, 13-Б</div>
        </div>
        <div class="cities-dropdown-item">
            <div class="city">Ужгород</div>
            <div class="address">вул. Баб'яка, 48</div>
        </div>
        <div class="cities-dropdown-item">
            <div class="city">Дніпропетровськ</div>
            <div class="address">вул. Баб'яка, 48</div>
        </div>
        <div class="cities-dropdown-item">
            <div class="city">Запоріжжя</div>
            <div class="address">вул. Нікопольське шосе, 1е</div>
        </div>
        <div class="cities-dropdown-item">
            <div class="city">Харків</div>
            <div class="address">пр. Гагаріна, 318-в</div>
        </div>
        <div class="cities-dropdown-item">
            <div class="city">Кременчук</div>
            <div class="address">вул. Київська, 66-г</div>
        </div>
        <div class="cities-dropdown-item">
            <div class="city">Одесса</div>
            <div class="address">вул. Ленінградське шосе, 8/2</div>
        </div>
        <div class="cities-dropdown-item">
            <div class="city">Херсон</div>
            <div class="address">пр. Гагаріна, 318-в</div>
        </div>
        <div class="cities-dropdown-item">
            <div class="city">Одесса
                </div>
            <div class="address">Новомиколаївська дорога, 3 км</div>
        </div>
    </div>
</div>