<section class="stock-news-section">
    <div class="container">
        <div class="stock-news-toggle-panel">
            <div id="stock-toggle" class="toggle-item toggle-item-active">Акції</div>
            <div id="news-toggle" class="toggle-item">Новини</div>
        </div>
        <div id="stock-slider" class="stock-news-slider">
            <a href="javascript:void(0)" class="stock-slider-item">
            <div class="goods-img"><img src="img/stockpic1.png" alt=""></div>
            <button class="stock-icon">%</button>
            <div class="goods-name">Люстра Oktay Latica 14243 крем</div>
            <button class="stock-slider-item-btn">переглянути</button>
        </a>
            <a href="javascript:void(0)" class="stock-slider-item">
                <div class="goods-img"><img src="img/stockpic2.png" alt=""></div>
                <button class="stock-icon">%</button>
                <div class="goods-name">Люстра Oktay Latica 14243 крем</div>
                <button class="stock-slider-item-btn">переглянути</button>
            </a>
            <a href="javascript:void(0)" class="stock-slider-item">
                <div class="goods-img"><img src="img/stockpic3.png" alt=""></div>
                <button class="stock-icon">%</button>
                <div class="goods-name">Розетка Underprice Vesta графіт</div>
                <button class="stock-slider-item-btn">переглянути</button>
            </a>
            <a href="javascript:void(0)" class="stock-slider-item">
                <div class="goods-img"><img src="img/stockpic2.png" alt=""></div>
                <button class="stock-icon">%</button>
                <div class="goods-name">Люстра Oktay Latica 14243 крем</div>
                <button class="stock-slider-item-btn">переглянути</button>
            </a>
            <a href="javascript:void(0)" class="stock-slider-item">
                <div class="goods-img"><img src="img/stockpic1.png" alt=""></div>
                <button class="stock-icon">%</button>
                <div class="goods-name">Люстра Oktay Latica 14243 крем</div>
                <button class="stock-slider-item-btn">переглянути</button>
            </a>
            <a href="javascript:void(0)" class="stock-slider-item">
                <div class="goods-img"><img src="img/stockpic2.png" alt=""></div>
                <button class="stock-icon">%</button>
                <div class="goods-name">Люстра Oktay Latica 14243 крем</div>
                <button class="stock-slider-item-btn">переглянути</button>
            </a>
            <a href="javascript:void(0)" class="stock-slider-item">
                <div class="goods-img"><img src="img/stockpic3.png" alt=""></div>
                <button class="stock-icon">%</button>
                <div class="goods-name">Розетка Underprice Vesta графіт</div>
                <button class="stock-slider-item-btn">переглянути</button>
            </a>
            <a href="javascript:void(0)" class="stock-slider-item">
                <div class="goods-img"><img src="img/stockpic2.png" alt=""></div>
                <button class="stock-icon">%</button>
                <div class="goods-name">Люстра Oktay Latica 14243 крем</div>
                <button class="stock-slider-item-btn">переглянути</button>
            </a>
        </div>
        <div id="news-slider" class="stock-news-slider">
            <div>Newssssssssssssssssssssssssssssssssssssssssss</div>
        </div>
    </div>
</section>