<div class="enter-popup" id="enter-popup">
    <form class="enter-form">
        <div class="title">Вхід</div>
        <div class="form-item"><label for="e-mail" class="item-label">Електронна пошта (email)</label>
            <input class="item-input" type="email" id="e-mail" name="e-mail">
        </div>
        <div class="form-item"><label for="password" class="item-label">Пароль</label>
            <input type="password" class="item-input" name="password" id="password">
        </div>
        <div class="forgot-password">Забулы пароль</div>
        <button class="enter-button" type="submit">Увійти</button>
        <div class="line-throw-wrap">
            <div class="line-throw"></div>
            <span class="or">або</span>
            <span class='enter-socials'>увійти через соціальні мережі</span>
        </div>
        <div class="socials-btn-wrap">
        <a href="#" class="fb-btn"><span class="icon"></span><span class="text">Facebook</span></a><a href="#"
                                                                                                      class="google-plus-btn"><span
            class="icon"></span><span class="text">Google+</span></a>
        </div>
    </form>
        <div class="no-account">Не маєте облікового запису?<br><a href="#">Зареєструватися</a></div>
</div>