@import 'settings';
@import 'mixins';
@import 'slick';
body{
  padding: 0;
  margin: 0;
}
.nl-header, .main-banner, .main-menu-section, .nl-content, .nl-footer{
  @import 'reset';
  font-family: $ubuntu;
  font-weight: 300;
  .container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
  }
}
@import "../../components/header/_header.scss";
@import "../../components/mainmenu/_mainmenu.scss";
@import "../../components/mainbanner/_mainbanner.scss";