@import 'settings';
@import 'mixins';
@import 'slick';
.nl-mainpage{
  @import 'reset';
  font-family: $ubuntu;
  font-weight: 300;
  .container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
    @include media($width-max){
      padding: 0;
    }
  }
  @import "../../components/header/_header.scss";
  @import "../../components/mainmenu/_mainmenu.scss";
  @import "../../components/mainbanner/_mainbanner.scss";
  @import "../../components/secondcatalog/_secondcatalog.scss";
  @import "../../components/blog/_blog.scss";
  @import "../../components/stock/_stock.scss";
}