<section class="main-banner">
    <div class="banner-slider">
        <div class="banner-slider-item">
        <img src="img/banner.png" alt="">
        <div class="banner-info">
            <div class="banner-text">знижки на <br> ванни <br><span>-20%</span></div>
            <button class="banner-btn">переглянути</button>
        </div>
    </div>
        <div class="banner-slider-item">
            <img src="img/banner.png" alt="">
            <div class="banner-info">
                <div class="banner-text">знижки на <br> ванни <br><span>-20%</span></div>
                <button class="banner-btn">переглянути</button>
            </div>
        </div>
        <div class="banner-slider-item">
            <img src="img/banner.png" alt="">
            <div class="banner-info">
                <div class="banner-text">знижки на <br> ванни <br><span>-20%</span></div>
                <button class="banner-btn">переглянути</button>
            </div>
        </div>
        <div class="banner-slider-item">
            <img src="img/banner.png" alt="">
            <div class="banner-info">
                <div class="banner-text">знижки на <br> ванни <br><span>-20%</span></div>
                <button class="banner-btn">переглянути</button>
            </div>
        </div>
    <div class="banner-slider-item">
        <img src="img/banner.png" alt="">
        <div class="banner-info">
            <div class="banner-text">знижки на <br> ванни <br><span>-20%</span></div>
            <button class="banner-btn">переглянути</button>
        </div>
    </div>
    <div class="banner-slider-item">
        <img src="img/banner.png" alt="">
        <div class="banner-info">
            <div class="banner-text">знижки на <br> ванни <br><span>-20%</span></div>
            <button class="banner-btn">переглянути</button>
        </div>
    </div>
    </div>
</section>